body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", serif;
    background-color: #353536;
    color: white;
}
.navbar{
    text-decoration: none;
    text-align: center;
    background-color: #232323;
    width: 100%;
    height: 70px;
    color: white;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.empty{
    height: 70px;
    z-index: 0;
    position: static;
}
a{
    color: white;
    text-decoration: none;
}
.desc, .author, .contact {
    width: 40%;
    background-color: #595959;
    border: #303030 solid 2px;
    border-radius: 15px;
    height: 200px;
    padding: 30px;
    margin: 10px 10px 100px;
}
.desc{
    float: left;
}
.author{
    margin-top: 100px;
    float: right;
}
.contact{
    float: left;
}
h1{
    margin-right: 10px;
    text-align: left;
    float: left;
}

.nav{
    background-color: #232323;
    border-radius: 15px;
    margin: 9px 15px;
    padding: 15px;
    color: white;
    text-align: center;
}
.nav:hover{
    background-color: #535353;
    transition: 0.5s;
}
.navimg{
    float: left;
    margin-right: 10px;
}
.navbar a{
    text-decoration: none;
}
.reaction{
    float: left;
    margin: 5px;
    border: #222121 solid 5px;
    border-radius: 5px;
}
#image-container{
    float: left;
    position: relative;
    width: 100%;
}
#search-input{
    width: 100%;
    background-color: #232323;
    border: #2c2c2c solid 2px;
    border-radius: 15px;
    color: white;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #232323;
    color: white;
    text-align: center;
}
.default{
    float: left;
    padding: 100px;
    margin: 4.5%;
    text-align: center;
    color: white;
    width: 80%;
    background-color: #232323;
    border-radius: 15px;
    height: 170px;
}
.default-left{
    float: left;
}
.default-right{
    float: right;
}
.empty2{
    height: 53px;
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }
    .empty{
        height: 153px;
    }

    .nav {
        margin: 5px 0;
    }

    .navimg {
        margin: 0 auto 10px;
    }

    #search-input {
        width: 90%;
        margin: 10px auto;
    }

    .desc, .author, .contact {
        width: 80%;
        height: auto;
        float: none;
        margin: 10px auto 50px;
    }

    .reaction {
        width: 90%;
        margin: 5px auto;
    }

    .default {
        padding: 20px;
        margin: 2.5% ;
        width: 90%;
        height: auto;
    }

    .default-left, .default-right {
        float: none;
        text-align: center;
        width: 100%;
    }
}
.empty2{
    height: 53px;

}

@media (max-width: 480px) {
    .nav {
        padding: 10px;
    }
    .empty{
        height: 153px;
    }

    .reaction {
        width: 100%;
    }

    .default {
        padding: 10px;
    }
    .empty2{
        height: 53px;

    }
}
