*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", serif;
    background-color: #353536;
    color: white;
}
.navbar{
    text-decoration: none;
    text-align: center;
    background-color: #232323;
    width: 100%;
    height: 70px;

}
.nav{
    float: left;
    background-color: #232323;
    border-radius: 15px;
    margin: 9px 25px 25px;
    padding: 15px;

}
.nav:hover{
    background-color: #535353;
    transition: 0.5s;
}
.navimg{
    float: left;
}
.navbar a{
    text-decoration: none;
}
.reaction{
    float: left;
    margin: 5px;
    border: black solid 5px;
    border-radius: 5px;
}
#image-container{
    float: left;
}
#search-input{
    width: 100%;
}